header {
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: lightgray;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    }

.scriptureDiv {
    height: 650px;
    width: 70%;
    border-style: solid;
    border-color: black;
    background-color: white;
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
}

  .dropdown {
    padding-left: 1%;
    padding-right: 1%;
  }

  .pic {
      background-image: url("img/bible");
      background-size: cover;
      height: 650px;
      width: 70%;
      border-style: solid;
      border-color: black;
      text-align: left;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-left: 4%;
      padding-right: 4%;
      padding-top: 1%;
  }

  .box {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
  }